
		html,
		body {
			background: #232323;
			width: 100%;
			height: 100%;
			overflow: visible;
			padding: 0;
			margin: 0;
		}

		div#gameContainer {
			background: transparent !important;
			position: absolute;
		}

		div#gameContainer canvas {
			position: absolute;
			-webkit-user-select: none;
			user-select: none;
		}

		div#gameContainer canvas[data-pixel-art="true"] {
			position: absolute;
			image-rendering: optimizeSpeed;
			image-rendering: -webkit-crisp-edges;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: crisp-edges;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: optimize-contrast;
			image-rendering: pixelated;
			-ms-interpolation-mode: nearest-neighbor;
		}
	

/* --- */

html { --custom-aspect-ratio: 800 / 450 }